<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.try(:email)%></h1>
    <p>
      Your article is not published,
      your username is: <%= @article.try(:email) %>.<br> 
    </p>
    <p>
      To get full information, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>